h1 {
  margin-bottom: 16px;
  font-size: 40px;
  color: rgb(182, 172, 198);
  
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  
}


button {
  margin-bottom: 24px;
  padding: 10px 16px;
  background-color: #010000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;


}

.whale-default{
  color: white;
  font-size: larger;
  font-weight: bold;
  display: none;
}

.whale-alert{
  display: block;
}